* {
box-sizing: border-box;
}
body {
font-family: Arial, Helvetica, sans-serif;
background-color: #ffffff;
padding: 10px;
cursor: s-resize;
}
.container {
background-color: #ffffff;
max-width: 300px;
margin: auto;
}
h1 {
font-size: 17vw;
text-align: center;
color: #FFC0CB;
}
h2 {
font-size: 20px;
text-align: center;
color: #FFC0CB;
}
p {
font-size: 12px;
text-align: justify;
color: #000000;
}
a:link,
a:visited,
a:hover,
a:active {
font-weight: bold;
color: #000000;
background-color: transparent;
text-decoration: none;
}